<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <article>
        <header>
            <h1>{{ article.name }}</h1>
        </header>
        <p>{{ article.content }}</p>
        <footer>
            <time datetime="">{{ article.date|date('d-m-y') }}</time>
        </footer>
    </article>
</body>
</html>